body{
    margin: 0px !important;
}

.Img_div_Pirate_Junker{
    width: 100%;
    border: 1px solid rgba(218, 218, 218, 0.856);
    border-radius: 10px;
    height: auto;
}
.Img_Pirate_Junker img{
    width: 27vw;
    margin-left: 12%;
}


.df_icons1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.df_icons1 span{
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: “Euclid”, sans-serif
}
.df_icons1 p{
    color: #2081e2;
    font-family: “Euclid”, sans-serif
}

.df_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.div_info{
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    position: absolute;
    margin-top: -55px;
    margin-left: -40px;
    z-index: 999;
    display: none;
}

.div_info p {
    z-index: 999;
    font-family: “Euclid”, sans-serif
}

.div_ratate{
    width: 30px;
    height: 30px;
    transform: rotate( 135deg);
    margin-top: 15px;
    margin-left: -50px;
    position: absolute;
   background-color: #fff;
}

.div_info2{
    display: none;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    position: absolute;
    margin-top: -95px;
    margin-left: -78px;
}

.div_rotate2{
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(135deg);
    margin-top: 15px;
    background-color: #fff;
}

.div_info2 p{
    color: #000;
    z-index: 999;
}

.div_info3{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    position: absolute;
    margin-top: -95px;
    margin-left: -17px;
}

.div_rotate3{
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(135deg);
    margin-top: 15px;
    background-color: #fff;
}

.div_info3  p{
    color: #000;
    z-index: 999;
}

.df_text_about{
    width: 20vw;
    color: #2081e2;
    font-family: “Euclid”, sans-serif
}
.df_text_about p{
    font-size: 1.3vw; 
    cursor: pointer;
}
.df_text_about p:hover{
    color: rgb(25, 93, 161);
}
.df_text_about img{
width: 8%;
}
.Pirate_big_div{
    display: flex;
    align-items: start;
    gap: 30px;
    width: 96%;
    margin-left: 2%;
    margin-top: 50px;
}
.df_text_about{
    display: flex;
    align-items: center;
    gap: 10px;
}
.df_icon_about{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-handshake{
    color: rgb(189, 189, 189);
}

.share_info_div{
    width: 100px;
    height: 40px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    margin-top: -90px;
    margin-left: 18px;
}

.div_ratate_share{
    width: 30px;
    height: 30px;
    background-color: #fff;
    transform: rotate(135deg);
    margin-top: 20px;
    position: absolute;
}

.share_info_div p{
    z-index: 999;
    font-family: “Euclid”, sans-serif
}

.more_info_div{
    display: none;
    align-items: center;
    justify-content: center;    
    width: 100px;
    height: 40px;
    margin-top: -90px;
    margin-left: 60px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
}

.div_rotate_more{
    width: 30px;
    height: 30px;
    background-color: #fff;
    transform: rotate(135deg);
    margin-top: 20px;
    position: absolute;
}

.more_info_div p{
    z-index: 999;
    font-family: “Euclid”, sans-serif
}

.handshake_info_div{
    width: 300px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    margin-top: -100px;
    margin-left: -180px;
}

.div_rotate_handshake{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #fff;
    transform: rotate(135deg);
    margin-top: 30px;
    margin-left: 100px;
}
.handshake_info_div p{
    z-index: 999;
    font-family: “Euclid”, sans-serif
}

.df_icons_and_text{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}
.df_icons_and_text1{
    display: none;
    align-items: start;
    justify-content: space-between;
    width: 50vw;
}

.big_text_about_div h2{
     font-size: 2.5vw;
     margin-top: -0px;
     font-family: “Euclid”, sans-serif
}
.big_text_about_div1 h1{
    font-size: 35px;
    margin-top: -0px;
    font-family: “Euclid”, sans-serif
}

.df_info_about_think{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42vw;
}
.icon_div{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    cursor: pointer;
}
.icon_div p{
    color: #545454;
    font-size: 1vw;
        font-family: “Euclid”, sans-serif
}

.div_for_info{
    width: 120px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    background-color: #fff;
    margin-top: -90px;
    margin-left: -10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);

}
.div_for_info p{
    color: #000;
    z-index: 999;
}
.div_for_rotate{
    width: 30px;
    height: 30px;
    transform: rotate(135deg);
    position: absolute;
    background-color: #fff;
    margin-top: 15px;
}

.div_for_info2 {
    width: 120px;
    display: none   ;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    background-color: #fff;
    margin-top: -90px;
    margin-left: -10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);

}
.div_for_info2 p{
    color: #000;
    z-index: 999;
}
.div_for_rotate2{
    width: 30px;
    height: 30px;
    transform: rotate(135deg);
    position: absolute;
    background-color: #fff;
    margin-top: 15px;
}

.df_info_about_think1{
display: none;
}
.for_mediya_top_text{
    width: 40% ;
}
.about_things_div{
    width: 58%;
}
@media (max-width:900px) {
    .df_icons_and_text1{display: flex; width: 100%;}
    .df_icons_and_text{display: none;}
    .Pirate_big_div{display: block;}
    .for_mediya_top_text{width: 100%;}
    .Img_div_Pirate_Junker{width: 100%;}
    .Img_Pirate_Junker img{width: 70vw;margin-left: 12%;}
    .df_text_about p{font-size: 2.5vw;}
    .df_text_about img{width: 2.5vw;}
    .df_text_about{width: 30vw;}
    .df_info_about_think{ margin-top: 20px; width: 100%; flex-wrap: wrap;}
    .icon_div p{font-size: 2vw}
    .icon_div i{font-size: 2.5vw;}
    .icon_div{ gap: 5px; width: 150px;}
    .df_info_about_think1{display: flex; flex-wrap: wrap;}
    .about_things_div{display: none;}
    .df_icon_about{gap: 30px; }
}
@media (max-width:484px) {
    .icon_div p{font-size: 3vw}
    .icon_div i{font-size: 3vw;}
    .icon_div{ gap: 5px; width: 100px;}
}
@media (max-width:400px) {
    .df_info_about_think{ width: 100%; flex-wrap: wrap;}
    .icon_div p{font-size: 2.5vw}
    .icon_div i{font-size: 2.5vw;}
    .icon_div{ gap: 5px; }
    .df_text_about p{font-size: 3vw;}
}

.favorite_open{
    background: #000000ab;
    height: 100vh;
    width: 100%;
    position: sticky;
    z-index: 100000;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0px;
}
.close_and_text_favorite{
text-align: center;
}







.text_info_prime p{
    font-size: 1vw;
    color: #545454  ;
    font-family: “Euclid”, sans-serif
}

.max-price{
    display: none;
}
.max-price1{
    display: none;
}

.inp_chang_max_price{
   display: none; 
}

.text_info_prime h2{
    margin-top: -0px;
    font-size: 2.5vw;
    font-family: “Euclid”, sans-serif
}
.text_info_prime span{
    font-size: 1vw;
    color: #545454;
    font-family: “Euclid”, sans-serif
}
.buy_prime_game{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(218, 218, 218, 0.856);
    margin-top: 20px;
}
.buy_prime_game1{
    border-radius: 10px;
    border: 1px solid rgba(218, 218, 218, 0.856);
    margin-top: 20px;
    display: none;
}
@media (max-width:900px) {
    .buy_prime_game{
        display: none;
    }
    .buy_prime_game1{
        display: block;
    }
    .info_and_price_div{
        display: block !important;
    }
    .button_to_buy_price1{
        display: block;
    }
    .but_number_1{
        width: 95% !important;
        margin-left: 2.5%;
        margin-top: 10px;
        font-size: 2vw !important;
    }
    .but_number_2{
        width: 95% !important;
        margin-left: 2.5%;
        margin-top: 10px; 
        margin-bottom: 20px;
        font-size: 2vw !important;
    }
    .p_minus_kiladi{
        margin-left: 15px;
        font-size: 2vw !important;
    }
    .p_plus_kiladi{
        margin-right: 15px;
        font-size: 2vw !important;
    }
    .number_plus_minus_div_price1{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        border: 1px solid rgba(218, 218, 218, 0.856);
        border-radius: 15px;
        height: 50px;
        font-family: “Euclid”, sans-serif ;
    }
    .max-price1{
        font-size: 2vw !important;
        line-height: 0px;
        margin-top: 30px !important;
    }
    .current-price{
        font-size: 2vw !important;
        margin-top: 30px !important;
    }
    .text_info_prime h2{
        font-size: 4vw ;
    }
    .text_info_prime span{
        font-size: 2vw;
    }
    .inp_div_checkbox input{
        height: 20px !important;
    }
    .inp_div_checkbox p{
        font-size: 1.4vw;
    }
    .p_chikadi_plus_bosilganda{
        font-size: 1.5vw !important;
    }
    .change_max_price1 p{
        font-size: 1.5vw;
    }
    .div_for_inp_price{
        width: 80% !important;
        margin-left: 5%;
    }
    .div_for_inp_price input{
        font-size: 1.5vw;
        width: 90% !important;
        margin-left: 3px;
        outline: none;
        border: none;
        color:#151515 ;
        font-family: “Euclid”, sans-serif ;
    }
    .accordiong_in_media{
        display: block !important;
        margin-top: 30px;
    }
    .for_top_class1 span{
        font-size: 2.5vw !important;
    }
    .for_top_class span{
        font-size: 2.5vw !important;
    }
    .df_bolib_turishi_uchun{
        font-size: 2vw;
        width: 55vw !important;
        height: 50px;

    }
    .kotta_acc_div_df{
      display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(199, 199, 199);    
    }
  .basket_in_acc button{
    width: 40px !important  ;
    height: 40px !important;
  }
  .df_info_in_acc p {
font-size: 2vw;
  }
  .df_info_in_acc{
    display: flex;
    width:  58vw !important;
    align-items: center;
    justify-content: space-between;
  }
  .big_div_for_media{
    margin-top: -70px;
  }
}
.accordiong_in_media{
    display: none;
}
.info_and_price_div{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#checkbox{
    width: 3vw;
    height: 3vh ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px ;
}
.fa-circle-question{
    color: #545454;
    cursor: pointer;
}
.inp_div_checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -20px;
}

.div_info_about_prime{
    width: 25vw;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    position: absolute;
    margin-top: -150px;
    display: none;
}
.div_info_about_prime p{
    font-size: 1.3vw;
    color: #000 !important;
    margin-left: 15px;
    margin-right: 15px; 
    font-family: “Euclid”, sans-serif ;
    position: relative;
    z-index: 999;
}
.div_info_about_prime1{
    width: 25vw;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(199, 199, 199);
    position: absolute;
    margin-top: -150px;
    margin-left:50px;
    display: none;
}
.div_info_about_prime1 p{
    font-size: 1.3vw;
    color: #000 !important;
    margin-left: 15px;
    margin-right: 15px; 
    font-family: “Euclid”, sans-serif ;
    position: relative;
    z-index: 999;
}
.div_info_about_prime_rotate{
    width: 30px;
    height: 30px;
    background-color: #fff;
    transform: rotate(135deg);
    position: absolute;
    margin-top: 75px;
    margin-left: 145px;
}

@media (max-width:1150px) {
    .number_plus_minus_div_price{
        width: 13vw !important;
    }
}
.number_plus_minus_div_price{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 1px solid rgba(218, 218, 218, 0.856);
    border-radius: 15px;
    width: 11vw;
    height: 50px;
    font-family: “Euclid”, sans-serif ;
}
.p_minus_kiladi{
    font-size: 1vw;
    color: #545454;
}

.p_chikadi_plus_bosilganda{
    display: none;  
}


.button_to_buy_price{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.but_number_1{
    font-family: “Euclid”, sans-serif ;
    width: 50%;    
    height: 55px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5vw;
    background-color: #2081e2;
}
.but_number_1:hover{
    background-color: rgb(46, 146, 245);
}
.but_number_2{
    font-family: “Euclid”, sans-serif ;
    width: 48%;    
    height: 55px;
    border: none;
    border-radius: 10px;
    font-size: 1.5vw;
}
.but_number_2:hover{
    background-color: #d8d8d8;
}

.div_for_inp_price{
    width: 10vw;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(218, 218, 218, 0.856);
    border-radius: 10px;
    font-family: “Euclid”, sans-serif ;
    color: #151515 ;
}
#inp_for_prime {
    font-size: 1.5vw;
    width: 5vw;
    margin-left: 3px;
    outline: none;
    border: none;
    color:#151515 ;
    font-family: “Euclid”, sans-serif ;
}
#inp_for_prime1 {
    font-size: 1.5vw;
    width: 5vw;
    margin-left: 3px;
    outline: none;
    border: none;
    color:#151515 ;
    font-family: “Euclid”, sans-serif ;
}
.change_max_price{
    gap: 5px;
    align-items: center;
    display: none;
}
.change_max_price1{
    gap: 5px;
    align-items: center;
    display: none;
}



 .accordion-resizer {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border: none;
  }
   .accordion{
    margin-top: 20px;   
  }

  .for_top_class{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 1.5vw !important;
    margin-top: 20px !important;
    height: 50px !important;
    display: flex !important;
    gap: 5px;
    align-items: center !important;
    border: 1px solid #d8d8d8 !important;
    background-color: #fff !important;
    color: #121212 !important;
    font-family: “Euclid”, sans-serif !important;
  }
  .for_top_class1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw !important;
    height: 50px !important;
    display: flex !important;
    gap: 10px;
    align-items: center !important;
    border: 1px solid #d8d8d8 !important;
    background-color: #fff !important;
    color: #121212 !important;
    font-family: “Euclid”, sans-serif !important;
  }


  .accordionside{
    min-height: 200px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .accordionside1{
    min-height: 400px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
  }
  .if_no_offers{
    text-align: center;
    font-family: “Euclid”, sans-serif !important;
    color: #121212;
  }
  .if_no_offers img{
    width: 10vw;
  }
  .df_bolib_turishi_uchun{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 35vw;
}
.df_bolib_turishi_uchun p{
    margin-top: 20px;
    margin-left: 15px;
}
.unit-price{
    
}
  .kichik_nav_in_acc{
    
    width: 100% !important;
    height: 50px;
    position: sticky;
    top: -16.5px;
    font-size: 1.1vw;
    z-index: 9999;
    background-color: #fff;
      border-bottom: 1px solid rgb(199, 199, 199);
      margin-bottom: 100px;
      text-align: center;
  }
  
  .div_position_fixed hr{
    background-color: #d8d8d8;
    border: none;
    height: 1px;
    width: 111%;
    margin-left: -35px;
  }
  .div_position_fixed{
    width: 100%;    
  }
  .df_info_in_acc{
    display: flex;
    width: 37vw ;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
  }
  .text_in_acc{
        font-weight: 600 ;
  }
  .text_in_acc, .text_in_acc1, .text_in_acc2, 
  .text_in_acc3, .text_in_acc4{
    font-size: 1.1vw;
  }
  .text_in_acc4{
    color: #2081e2;
    cursor: pointer;
  }

  .text_in_acc4:hover{
    color: rgb(25, 93, 161);
  }

.kotta_acc_div_df{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.basket_in_acc{
    margin-right: 10px;
}
.basket_in_acc button{
    color: #fff;
    border: none;
    width: 2.5vw;
    height: 30px;
    border-radius: 10px;
    background-color: #2081e2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw !important;
}


.description_div{
    border: 1px solid #d8d8d8 !important;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #fff;
}

.description_text_div{
    display: flex;
    align-items: center;
    gap: 10px;   
    height: 80px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.5vw;
}
.fa-bars{
    margin-left: 30px;
}

.description_about_text{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 0px;
    margin-top: 30px;
}
.description_about_text img{
    width: 1.3vw;
}
.description_about_text span{
    color: #8a939b;
    font-family: “Euclid”, sans-serif ;
    font-size: 1.3vw;
}
.description_about_text p{
    font-size: 1.3vw;
    font-family: “Euclid”, sans-serif ;
}
.description_about{
    margin-left: 30px;
}

.description_about_text2 p{
    color: #121212;
    font-family: “Euclid”, sans-serif ;
    font-size: 1vw;
    margin-bottom: 30px;
}


.ui-accordion-header-icon {
    display: none !important;
}


#MyChart{
    width: 45vw !important;
    height: 300px !important;
}

.view_all_owners{
    width: 100vw;
    height: 100vh !important;
    background-color: #000000dc;
    position: fixed;
    z-index: 999999;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
}

.user_all_owners{
    width: 40vw;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
}

.otmenit_owners{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin-left: 5%;
    align-items: center;
    font-size: 2vw;
    font-family: “Euclid”, sans-serif
}

.logo_user{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: aqua;
}

.df_logo_and_nickname{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.nickname_user span{
    color: #8a939b;
    font-family: “Euclid”, sans-serif;
    font-size: 1vw;
}

.nickname_user p{
    color: #000;
    font-family: “Euclid”, sans-serif;
    line-height: 0px;
    font-size: 1.3vw;
}
.all_users{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.first_user{
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 80px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.second_user{
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 80px;
}

.second_user:hover{
    background-color: #f7f7f7;
}
.first_user:hover{
    background-color: #f7f7f7;
}

.items_view p{
    color: #8a939b;
}
.items_view{
    margin-right: 15px;
}

.push_in_favorite{
    width: 100vw;
    height: 100vh !important;
    background-color: #000000dc;
    position: fixed;
    z-index: 999999;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
}
.alittle_info_about_favorite{
    font-size: 1.2vw;
    color: #8a939b;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 80px;
    border-bottom: 1px solid #d8d8d8;
    font-family: “Euclid”, sans-serif;
}
.alittle_info_about_favorite p{
    margin-left: 20px;
    margin-right: 20px;
}
.alittle_info_about_favorite span{
    color: #2081e2;
}

.df_logo_and_nick img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}
.df_logo_and_nick{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4vw;
    margin-left: 25px;
}
.first_example{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.favoriteby{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.logo_user2 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.small_traits{
    width: 10vw;
    padding: 5px;
    background-color: #1212120a;
    text-align: center;
    border-radius: 5px;
}
.small_traits p{
    color: #646c74;
    font-size: 1vw;
}
.small_traits h3{
    font-size: 1vw;
    line-height: 5px;
}
.small_traits span{
    font-size: 1vw;
    line-height: 5px;
    color: #8a939b;
}
.df_traits1{
    display: flex;
    justify-content: space-between;
}
.df_traits2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.div_traits{
    padding: 10px !important;
    height: auto !important;
}

.about_paralel_img{
    width: 6vw;

}
.about_paralel_img img{
    width: 100%;
    border-radius: 10px;
}
.about_parallel{
    display: flex;
    gap: 10px;
    align-items: start;
}

.about_parallel_text{
    color: #8a939b;
    font-size: 1vw;
}

.about_parallel_text span{
    color: #121212;
}
.about_parallel_text p{
line-height: 5px;
font-family: “Euclid”, sans-serif;
}

.accordiong_kotta_div{
    width: 100% ;
}
.accordiong_kotta_div1{
    margin-top: 10px;
    border: none;
}
.accordion-resizer{
    border: none !important;
}

.inet_icon_about{
    display: flex;
    align-items: center;
    margin-top: 20px;   
}

.icon_inet, .icon_inet1{
    height: 50px;
    width: 40px;
    background-color: #1212120a;
    border-right: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a939b;
}

.icon_inet2{
    height: 50px;
    width: 40px;
    background-color: #1212120a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a939b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icon_inet1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.details_div{
    padding: 10px !important;
    height: auto !important;
}
.about_parallel_alpha_div{
    height: auto !important;
}
.df_details{
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: #646c74;
    font-size: 1.2vw;
    line-height: 3px;
}

.for_color_blue{
    color: #2081e2;
}
.accordion_diagramma{
    height: auto !important;
}



.accordion_item_activity{
    width: 96%;
    margin: auto;
}